@import '../base/variables';

@keyframes slide {
    0% {
        overflow: hidden;
        max-height: 0%;
        opacity: 0;
    }

    5% {
        opacity: 1%;
    }

    50% {
        max-height: 50%;
    }

    100% {
        max-height: 100%;
    }
}

@media(max-width: 768px) {
    .collapse {
        &_content {
        animation: slide 2s ease-in-out;
        }
    }
}

.collapse {
    &_header {
        background: $primary-color;
        color: white !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
        margin-top: 1rem;
        cursor: pointer;
        
        &_title {
            font-size: 18px;
            font-weight: 500;
            margin: 0;
            padding: 0.4rem 0.5rem;
        }
        
        &_icon {
            font-size: 1.25rem;
            padding: 0.4rem 0.5rem;
        }
    }

    &_content {
        margin-bottom: 1rem;
        padding: 0.8rem 1rem;
        font-size: 18px;
        font-weight: 400;
        background: $bg-content;
        border-radius: 0 0 0.3rem 0.3rem;
        animation: slide 1s ease-in;
    }
}