@font-face {
  font-family: "Montserrat-Medium";
  src: url("../../../public/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../../public/fonts/Montserrat-Regular.ttf");
}
@media (max-width: 768px) {
  .banner {
    width: 98% !important;
    justify-content: start !important;
  }
  .banner_title {
    width: 68% !important;
    padding-left: 1rem;
  }
}
.banner {
  width: 95%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_title {
  position: absolute;
  z-index: 1000;
}
.banner_img {
  position: relative;
  width: 100%;
  height: 223px;
  object-fit: cover;
  border-radius: 25px;
  filter: brightness(60%);
}

@keyframes slide {
  0% {
    overflow: hidden;
    max-height: 0%;
    opacity: 0;
  }
  5% {
    opacity: 1%;
  }
  50% {
    max-height: 50%;
  }
  100% {
    max-height: 100%;
  }
}
@media (max-width: 768px) {
  .collapse_content {
    animation: slide 2s ease-in-out;
  }
}
.collapse_header {
  background: #ff6060;
  color: white !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
  margin-top: 1rem;
  cursor: pointer;
}
.collapse_header_title {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0.4rem 0.5rem;
}
.collapse_header_icon {
  font-size: 1.25rem;
  padding: 0.4rem 0.5rem;
}
.collapse_content {
  margin-top: -1, 2rem;
  margin-bottom: 1rem;
  padding: 0.8rem 1rem;
  font-size: 18px;
  font-weight: 400;
  background: #f6f6f6;
  border-radius: 0 0 0.3rem 0.3rem;
  animation: slide 1s ease-in;
}

@media (max-width: 768px) {
  .carousel_idx {
    display: none;
  }
}
.carousel {
  position: relative;
}
.carousel_container_img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 1.56rem;
}
.carousel_cmd {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.carousel_cmd_left {
  margin-left: 1rem;
  cursor: pointer;
}
.carousel_cmd_right {
  margin-right: 1rem;
  cursor: pointer;
}
.carousel_cmd svg {
  padding: 1rem;
  width: 2.8rem;
  height: 4.9rem;
  color: white;
  cursor: pointer;
}
.carousel_idx {
  position: absolute;
  width: 50px;
  height: 30px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-160%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 18px;
  font-family: "Montserrat-Medium";
  font-weight: 500;
  border-radius: 0.3rem;
  z-index: 1;
}

@media (max-width: 768px) {
  .error_page_title {
    font-size: 160px !important;
  }
  .error_page_link {
    margin-top: 5rem !important;
  }
}
.error_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem;
}
.error_page_title {
  font-size: 250px;
  margin: 0;
}
.error_page_link {
  margin-top: 3rem;
  margin-bottom: 1.7rem;
  text-decoration: underline;
}

.footer {
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(25, 25, 125);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  gap: 16px;
}
.footer_logo {
  width: 80px;
}
.footer_text {
  color: #ff6060;
  font-size: 15px;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../../../public/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../../public/fonts/Montserrat-Regular.ttf");
}
@media (max-width: 768px) {
  .header {
    width: 98% !important;
  }
  .header_logo_img {
    width: 7rem !important;
  }
  .header_nav ul {
    padding-left: 0;
  }
  .header_nav_link_navlink {
    padding: 0.2rem 0.3rem !important;
  }
}
.header {
  position: sticky;
  z-index: 10000;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
  background: hsla(240, 66%, 29%, 0.5);
}
.header_logo_img {
  width: 10rem;
}
.header_nav_ul {
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.header_nav_link {
  font-size: 19px;
  margin: 1rem 0.5rem;
}
.header_nav_link_navlink {
  padding: 0.2rem 0.7rem;
}
.header_nav_link_active {
  font-family: "Montserrat-Medium";
  text-decoration: underline #ff6060;
  /*background: hsla(0, 100%, 82%, 0.2);
  border-radius: 0.3rem;*/
  padding: 0.2rem 0.7rem;
}
.header_nav_link_inactive {
  transition: all 350ms ease-in-out;
  text-decoration: none;
}
.header_nav_link_inactive:hover {
  font-family: "Montserrat-Medium";
  /*background: hsla(0, 100%, 82%, 0.2);
  border-radius: 0.3rem;*/
  padding: 0.2rem 0.7rem;
}

@media (max-width: 768px) {
  .about_collapses {
    width: 98% !important;
    margin-top: 1.7rem !important;
  }
}
.about_collapses {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 6rem;
}
.about_collapses_content {
  margin-bottom: 0.5rem;
  width: 95%;
}

@media (max-width: 768px) and (max-width: 1090px) {
  .housing {
    width: 50% !important;
  }
}
@media (max-width: 768px) {
  .housings_container {
    background: transparent !important;
    margin: 0 0 7rem 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }
  .housings_list {
    padding: 0 !important;
  }
  .housing {
    width: 100% !important;
  }
  .housing_figure {
    margin: 1rem 0.5rem !important;
  }
  .housing_figure_cover {
    height: 400px !important;
  }
}
.housings_container {
  width: 95%;
  margin: 2rem auto 9rem auto;
  background: #E9E9E9;
  border-radius: 0.8rem;
}
.housings_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
}

.housing {
  width: 33%;
}
.housing_figure {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1803921569);
  margin-block: 0;
  margin-inline: 0;
  margin: 1rem;
  border-radius: 0.5rem;
  transition: transform 250ms ease-in-out;
}
.housing_figure:hover {
  transform: scale(1.03);
}
.housing_figure_cover {
  width: 100%;
  height: 290px;
  object-fit: cover;
  border-radius: 0.5rem;
}
.housing_figure_figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 150px;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 13%, rgba(0, 212, 255, 0) 70%);
  border-radius: 0 0 0.5rem 0.5rem;
}
.housing_figure_figcaption_title {
  color: white;
  font-size: 18px;
  width: 95%;
  position: absolute;
  left: 10px;
  bottom: 0.8rem;
}

@media (max-width: 768px) {
  .housing_page {
    min-height: 40rem !important;
  }
  .housing_page_header {
    flex-direction: column;
    margin-bottom: 0 !important;
  }
  .housing_page_header_infos_tags_tag {
    margin-bottom: 1rem !important;
  }
  .housing_page_header_hoster {
    flex-direction: row-reverse !important;
    align-items: center !important;
    margin-top: 0 !important;
    margin-bottom: 0.5rem;
  }
  .housing_page_header_hoster_infos {
    align-items: center;
  }
  .housing_page_header_hoster_infos_name {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .housing_page_collapses {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .housing_page_collapses_content {
    width: 100% !important;
    margin-bottom: 0 !important;
  }
  .ratings {
    padding: 0 0.2rem 1rem 0 !important;
  }
  .ratings_stars {
    padding: 0 0.2rem 3rem 0 !important;
  }
}
.housing_page {
  margin-bottom: 10rem;
  width: 95%;
  min-height: 35rem;
  margin: 1rem auto 7rem auto;
}
.housing_page_header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
}
.housing_page_header_infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.housing_page_header_infos_title {
  font-size: 35px;
  margin: 0;
}
.housing_page_header_infos_subtitle {
  font-size: 18px;
  margin: 0.2rem 0 1rem 0;
}
.housing_page_header_infos_tags {
  display: flex;
  flex-wrap: wrap;
}
.housing_page_header_infos_tags_tag {
  font-size: 15px;
  color: white;
  background: #ff6060;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
  margin: 0.1rem 0 0;
  border-radius: 0.5rem;
}
.housing_page_header_hoster {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.housing_page_header_hoster_infos {
  display: flex;
  align-items: center;
}
.housing_page_header_hoster_infos_name {
  width: 120px;
  text-align: right;
  margin-right: 0.5rem;
  font-size: 18px;
}
.housing_page_header_hoster_infos_img {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 3rem;
  object-fit: cover;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
}
.housing_page_collapses {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.housing_page_collapses_content {
  margin: 1rem 0;
  width: 47%;
  margin-bottom: 0;
}
.housing_page_collapses_content ul {
  margin: 0;
}

.ratings {
  margin-top: 1rem;
  text-align: right;
  font-size: 25px;
}
.ratings_stars {
  padding-left: 0.3rem;
  color: #ff6060;
}
.ratings_stars_grey {
  color: rgb(188, 186, 186);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
  margin: auto;
  max-width: 1440px;
  font-size: 18px;
  color: #ff6060;
  font-family: "Montserrat-Regular";
  background: #fff;
}

h1,
h2 {
  font-family: "Montserrat-Medium";
}

ul {
  padding: 0;
}

li {
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #ff6060;
}

/*# sourceMappingURL=main.css.map */
